---
import Header from "../components/Header.astro";
import Slider from "../components/Slider.astro";
import Layout from "../layouts/Layout.astro";
import gremioinfo from "../data/gremiosData";
import Gremio_info from "../components/Gremio_info.astro";
import Card from "../components/Card.astro";

const content = await Astro.glob('./gremios_info/*.md');

---

<Layout title="Gremios">
  <div class="">
    <section class="bg-black h-screen w-screen text-center overflow-hidden ">
      <div class="absolute h-screen w-screen place-content-center z-0">
        <video class="blur-sm object-cover w-screen h-screen max-w-none " src="/assets/hero.mp4" autoplay loop></video>
      </div>
    </section>
    <section class="absolute overflow-hidden grid grid-rows-2 grid-flow-col my-0 z-20 top-[25%] w-screen justify-center align-middle 
                    sm:grid-flow-row sm:grid-cols-2">
        <Slider/>
        <Gremio_info/>
    </section>
  </div>
  

    </Layout>