---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';

const artkadia = "ARTKADIA";
const gremios = ['gremio A', 'gremio B', 'gremio C', 'gremio D']
---

<Layout title="ARTKADIA">
	<main>
		<section class="bg-black h-screen w-screen text-center overflow-hidden">
			<div class="absolute h-screen w-screen  place-content-center z-0">
				<video class="object-cover w-screen h-screen max-w-none" src="/assets/hero.mp4" autoplay loop></video>
			</div>
			<div class="absolute flex flex-grow w-screen z-50 top-[50%] place-content-center">
				<img class="w-[40%] sm:w-[40%] md:w-[35%] lg:w-[25%] " src="/assets/hero-logo.webp" alt="Logo"/>
			</div>
		</section>
	</main>
</Layout>
