---
import menuItems from "../data/menuItemsData";
import MenuItemView from "./MenuItemView.astro";

---

<header class="flex items-centera py-8 fixed w-screen justify-between text-gray-100 z-50">
    <nav class="flex px-8">
        <a href="/" class="text-4xl">ARTKADIA</a>
    </nav>
    <nav>
        <ul class="flex text-3xl [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
            {
                menuItems.map(item => <MenuItemView {... item} />)
            }
        </ul>
      </nav>
      <nav class="flex justify-end px-8">
        <a href="/">S</a>
      </nav>

</header>