
    <div class="">
        <video class="object-cover" src="/assets/hero.mp4" autoplay loop></video>
    </div>
    <div class="flex absolute w-full z-50 sm:top-[30%] lg:top-[50%] place-content-center ">
        <img class="w-[25%]" src="/assets/hero-logo.webp" alt="Logo"/>
    </div>

<style>

</style>