<div class="relative max-w-[30rem] my-0 mx-auto justify-start">
    <div class="flex overflow-hidden aspect-[9/16] overflow-x-hidden snap-x snap-mandatory scroll-smooth rounded-lg 
                [&>img]:flex [&>img]:snap-start [&>img]:object-cover">
        <img class="rounded-sm" src="/assets/warrior_principal.jpg" alt="warrior" id="w1"/>
        <img class="rounded-sm" src="/assets/warrior_principal.jpg" alt="warrior" id="w2"/>
        <img class="rounded-sm" src="/assets/warrior_principal.jpg" alt="warrior" id="w3" />
        <img class="rounded-sm" src="/assets/warrior_principal.jpg" alt="warrior" id="w4"/>   
    </div>
    <div class="flex gap-4 relative bottom-5 left-1/2 -translate-x-2/4 z-30 justify-center
                [&>a]:w-2 [&>a]:h-2 [&>a]:rounded-[50%] [&>a]:bg-gray-500 [&>a]:opacity-75 [&>a]:transition-opacity [&>a]:duration-250 [&>a]:ease
                ">
        <a class="hover:opacity-100" href="#w1"></a>
        <a class="hover:opacity-100" href="#w2"></a>
        <a class="hover:opacity-100"href="#w3"></a>
        <a class="hover:opacity-100" href="#w4"></a>
    </div>
</div>